.home-page-services-container {
  border-bottom: 1px solid #097a09;
}

.services-part-heading {
  margin-top: 30px;
}

.service-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-img {
  height: 250px;
  padding: 20px;
}

