.home-page-services-container {
  border-bottom: 1px solid #097a09;
}

.services-part-heading {
  margin-top: 60px;
  padding-bottom: 25px; 
}

.service-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-img {
  height: 250px;
  padding: 20px; 
}

@media screen and (max-width:575px) {

  .services-part-heading {
    margin-top: 50px;
    padding-bottom: 10px; 
  }
  
}

@media screen and (min-width:481px) and (max-width:575px) {
  
  /* .services-part-heading {
    margin-top: 50px;
    padding-bottom: 10px; 
  } */

  .service-card-col {
    padding-left: 60px;
    padding-right: 60px;
  }

}

@media only screen and (min-width:576px) and (max-width:767px) {
  
  .services-part-heading {
    margin-top: 50px;
    padding-bottom: 10px; 
  }
  
  .service-img {
    height: 200px;
    padding: 10px; 
  }

}

@media screen and (min-width:768px) and (max-width:991px) {
  
  .services-part-heading {
    margin-top: 50px;
    padding-bottom: 10px; 
    font-size: 36px;
  }

}

