.header-top-logo {
  width: 80%;
}

.header-brand-name h1 {
  font-size: 70px;
  margin-top: 15px; 
}

.navbar-link {
  /* padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px; */
  transition: all ease-in-out .4s;
}

.navbar-link:hover {
  /* padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px; */
  color: #097a09 !important;
  background-color: #fff !important;
}

.header-top-social-link i {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;   
}

@media screen and (max-width: 575px){

  #top-navigation {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
  }

  .header-top-logo {
    width: 25%;
  }

  .header-brand-name h1 {
    margin-top: 10px;
    font-size: 40px;
  }

  .header-top-social-link {
    margin-bottom: 10px;
  }

  #top-navigation .navbar-toggler {
    box-shadow: none !important;
    border: 0 !important;

  }

  .menu-bars-icon {
    color: #fff;
    padding: 4px 7px;
    font-size: 20px;
    border: 3px solid #fff !important;
  }

  .navbar-brand-logo img {
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  .navbar-brand-logo span {
    font-weight: 700;
    font-size: 20px;
  }

  #top-navigation .navbar-nav {
    margin-top: 15px !important;
  }

  #top-navigation .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 25px;
  }

  #top-navigation .navbar-nav .nav-item:first-child {
    margin-top: 8px;
  }

  #top-navigation .navbar-nav .nav-item:last-child {
    margin-bottom: 0 !important; 
  }

  .header-mobile-part-title {
    font-size: 16px;
  }

  .header-info-mobile {
    font-size: 14px;
  }

  .header-top-part-container {
    display: none;
  }

}

@media screen and (min-width: 576px) and (max-width:767px) {

  #top-navigation {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
  }

  .header-top-logo {
    width: 55% !important;
  }

  .header-brand-name h1 {
    margin-top: 10px;
    font-size: 45px;
  }

  .header-top-part-col {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #097a09;
  }

  /* .header-top-part-col:nth-child(1), 
  .header-top-part-col:nth-child(3),
  .header-top-part-col:nth-child(4) {
    border-right: 1px solid #097a09;    
  } */

  .navbar-toggler {
    box-shadow: none !important;
    border: 0 !important;
  }

  #top-navigation .navbar-nav {
    margin-top: 15px !important;
  }

  #top-navigation .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 25px;
  }

  #top-navigation .navbar-nav .nav-item:first-child {
    margin-top: 8px;
  }

  #top-navigation .navbar-nav .nav-item:last-child {
    margin-bottom: 0 !important; 
  }

  .menu-bars-icon {
    color: #fff;
    padding: 4px 7px;
    font-size: 20px;
    border: 3px solid #fff !important;
  }

  .navbar-brand-logo img {
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  .navbar-brand-logo span {
    font-weight: 700;
    font-size: 20px;
  }

  .header-mobile-part-title {
    font-size: 16px;
  }

  .header-info-mobile {
    font-size: 14px;
  }

  .header-top-part-container {
    display: none;
  }

}

@media screen and (min-width:768px) and (max-width:991px) {

  #top-navigation {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
  }

  .header-top-logo {
    width: 100% !important;
  }

  .header-brand-name h1 {
    margin-top: 10px;
    font-size: 43px;
  }

  .header-top-part-col {
    /* margin-bottom: 10px; */
    margin-top: 10px;
    /* border-bottom: 1px solid #097a09; */
  }

  .header-top-title {
    font-size: 18px; 
  }

  .header-top-info {
    font-size: 15px;
  }

  #top-navigation .navbar-nav .nav-item {
    margin-bottom: -7px;
  }

  
  .menu-bars-icon {
    color: #fff;
    padding: 4px 7px;
    font-size: 20px;
    border: 3px solid #fff !important;
  }

  .navbar-brand-logo img {
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  .navbar-brand-logo span {
    font-weight: 700;
    font-size: 20px;
  }

  .header-mobile-part-title {
    font-size: 16px;
  }

  .header-info-mobile {
    font-size: 14px;
  }

  .header-top-part-container {
    display: none;
  }

} 

@media screen and (min-width:992px) and (max-width:1199px) {

  .header-top-logo {
    width: 90% !important;
  }

  .header-brand-name h1 {
    margin-top: 10px;
    font-size: 50px;
  }
  
  #header-top-part .header-top-part-container{
    padding-top: 15px;
    padding-bottom: 7px;  
  }

  .navbar-brand-logo {
    display: none;
  }

}

@media screen and (min-width:1200px) and (max-width:1399px) {

  .header-brand-name h1 {
    margin-top: 10px;
    font-size: 60px;
  }

}


