.header-top-logo {
  width: 50%;
}

.navbar-link {
  /* padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px; */
  transition: all ease-in-out .4s;
}

.navbar-link:hover {
  /* padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px; */
  color: #097a09 !important;
  background-color: #fff !important;
}

.header-top-social-link i {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;  
}

@media screen and (max-width: 575px){
  .header-top-social-link {
    margin-bottom: 10px;
  }

  .navbar-toggler {
    box-shadow: none !important;
    border: 0 !important;
  }

  #top-navigation .navbar-nav {
    margin-top: 15px !important;
  }

  #top-navigation .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 25px;
  }

  #top-navigation .navbar-nav .nav-item:first-child {
    margin-top: 8px;
  }

  #top-navigation .navbar-nav .nav-item:last-child {
    margin-bottom: 0 !important; 
  }

}

@media screen and (min-width: 576px) and (max-width:767px) {

  .header-top-part-col {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #097a09;
  }

  .header-top-part-col:nth-child(odd) {
    border-right: 1px solid #097a09;    
  }

  .navbar-toggler {
    box-shadow: none !important;
    border: 0 !important;
  }

  #top-navigation .navbar-nav {
    margin-top: 15px !important;
  }

  #top-navigation .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 25px;
  }

  #top-navigation .navbar-nav .nav-item:first-child {
    margin-top: 8px;
  }

  #top-navigation .navbar-nav .nav-item:last-child {
    margin-bottom: 0 !important; 
  }

}

@media screen and (min-width:768px) and (max-width:991px) {

  .header-top-title {
    font-size: 18px; 
  }

  .header-top-info {
    font-size: 15px;
  }

  #top-navigation .navbar-nav .nav-item {
    margin-bottom: -7px;
  }

} 

@media screen and (min-width:992px) and (max-width:1199px) {
  
  #header-top-part .header-top-part-container{
    padding-top: 15px;
    padding-bottom: 7px; 
  }

}


