.footer {
  padding: 50px 0;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ), url(https://github.com/AnirbanAnu2000/img-storage/blob/main/care/about/about3.jpg?raw=true) no-repeat center;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.contact-social-link li {
  margin-bottom: 10px;
}

.footer-social-links i {
  margin-right: 20px;
  font-size: 18px;
  display: inline-block;  
}

.footer ul{
  list-style: none;
  margin: 0;
}

.footer ul li{
  padding: 0;
}

/* footer contact form */
/* 
.footer-input-field {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  border: 3px solid #ced4da;
  appearance: none;
  background-clip: padding-box;
}

.footer-input-field:focus {
  outline: none;
  border-color: #097a09 !important;
}

.footer-submit-btn {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: .25rem;
  border: 1px solid #097a09;
  appearance: none;
  background-clip: padding-box; 
} */

@media screen and (max-width:575px) {

  .footer-important-link {
    margin-top: 15px;
  }

  .footer-contact-form {
    margin-top: 30px;
  }

} 

@media screen and (min-width:481px) and (max-width:575px) { 

  .footer-top-part {
    padding-left: 20px;
  }

  /* .footer-left-content {
    display: flex;
    justify-content: center;
  }

  .contact-social-link li {
    text-align: center;
  }

  .footer-important-link-heading {
    text-align: center;
  }

  .footer-important-link ul {
    margin: 0 auto !important;
  }

  .footer-form-heading {
    text-align: center !important;
  }

  .footer-submit-btn-div {
    display: flex;
    justify-content: center;
  } */

}

@media screen and (min-width:768px) and (max-width:991px) {

  .footer-important-link {
    margin-top: 15px;
  }

  .footer-contact-form {
    margin-top: 30px;
  }

}
