.home-page-faq-container {
  border-bottom: 1px solid #097a09; 
}

.accordion-button {
  background-color: #fff;
  color: #097a09 !important;
  outline: none;
  border-color: #097a09 !important; 
  font-weight: 700;
  font-size: 15px;
}

.accordion-button:focus {
  background-color: rgb(9, 122, 9, 0.3);
  color: #097a09 !important;
  outline: none;
  border-color: #097a09 !important; 
  font-weight: 700;
  font-size: 15px;
}

.accordion-button.collapsed:focus {
  outline: none;
}

@media screen and (max-width: 575px) {

  .faq-part-heading {
    font-size: 30px;
  }

  .faq-qa {
    background-color: #097a09;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .faq-img {
    margin-top: 20px; 
  }

}

@media only screen and (min-width:576px) and (max-width:767px) {
  
  .faq-part-heading {
    font-size: 36px;
    margin-bottom: 0;
  }

  .faq-qa {
    background-color: #097a09;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .faq-img {
    margin-top: 20px; 
    margin-bottom: -40px;
  }


}
