*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Roboto Slab', serif;
}

a, 
a:hover {
  text-decoration: none;
}

.brand-color {
  color: #097a09;
}

.brand-bg {
  background-color: #097a09;
}

.text-extra-bold {
  font-weight: 900;
}