#home-page-specialist {
  padding-top: 30px;
  padding-bottom: 50px;
}

.specialist-heading {
  margin-bottom: 30px;
}

.specialist-card-img {
  height: 300px;
  padding: 15px; 
}

@media screen and (max-width:575px) {
  
  .specialist-heading {
    font-size: 30px;
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }

}

@media screen and (min-width:481px) and (max-width:575px) {
    
  .specialist-card {
    margin-left: 50px !important;
    margin-right: 50px !important; 
  }

}

@media only screen and (min-width:576px) and (max-width:767px) {

  .specialist-heading {
    font-size: 32px;
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }

  .specialist-card {
    margin-left: 6px !important;
    margin-right: 6px !important; 
  }

  .specialist-card-img {
    height: 250px;
    padding: 10px; 
  }

}